@font-face
{
font-family: bleh;
src: url(fonts/regular.woff);
}

@font-face
{
font-family: wah;
src: url(fonts/regularitalic.woff);
}

@font-face
{
font-family: meow;
src: url(fonts/bold.woff);
}

@font-face
{
font-family: woof;
src: url(fonts/bolditalic.woff);
}

@font-face
{
font-family: quack;
src: url(fonts/light.woff);
}

@font-face
{
font-family: moo;
src: url(fonts/lightitalic.woff);
}

h1 {
	font-family: bleh;
	font-size: 16px;
	letter-spacing: -1px;
	color: #339999;
}

h2 {
	margin-top: 40px;
	font-size: 14px;
	font-family: bleh;
	letter-spacing: -1px;
}




h4 {
	font-family: wah;
	margin-top: -10px;
	letter-spacing: -1px;
	font-size: 20px;
}

h5 {
	font-family: bleh;
	margin-top: -10px;
	letter-spacing: -1px;
	font-size: 18px;
}

h6 {
	font-family: bleh;
	font-size: 22px;
	letter-spacing: -1px;
	color: #339999;
	margin-bottom: 10px;
	margin-top: 10px;
}



input {
	width: 100%;
	max-width: 300px;
	height: 40px;
}

.btn {
	width: 100%;
	max-width: 300px;
	height: 40px;
	font-family: bleh;
	font-size: 14px;
	letter-spacing: -.5px;
}

.search {
	margin-top: 40px;
	background-color: #339999;
	color: white;

}

.header h1, .header img .header .nav {
	display: inline-block;
	vertical-align: middle;
	padding: 0;
}

.nav {
	display: inline;
	font-size: 13px;
	float: right;
}

.nav a:link {
	color: black;
}


.btn a:link {
	color: white;
	text-decoration: none;
}

.btn a:visited {
	color: white;
}

.header {
	margin-top: 20px;
}

ul {
	list-style-type: none;

}

li {
	display: inline;
	color: black;
	text-decoration: underline;
}

.books img {
	display: inline-block;
	margin: 10px;

}


.footer {
	font-family: bleh;
	font-size: 12px;
}

.row4 {
	margin-top: 400px;
}

.work {
	margin: 0;
	margin-bottom: 20px;
	padding: 0;
	vertical-align: top;
	overflow: hidden;
	position: relative;
}


   

.overlay {
	background-color: rgba(255, 255, 255, 0.7);
    position: absolute;   
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 1.0;
    z-index: 10;
    padding: 20px;
    font-family: bleh;
    color: black;
    font-size: 16px;
}

.overlay:hover {
	opacity: 0;
}

.box {
	border: solid 1px;
	width: auto;
	height: auto;
	padding: 3px 5px 3px 5px;
	font-family: bleh;
	font-size: 14px;
	position: relative;
	display: inline-block;
	
}

.squares {
	padding: 20px 10px 20px 0;
}

.secondarysearch {
	padding-top: 15px;
	padding-bottom: 10px;
	
}

.text {
	font-family: bleh;
	font-size: 20px;
}

footer {
	clear: both;
	display:block;
	position: relative;
	margin: 0 auto;
	width: 79%;
	height: 100px;
	background-color: #339999;
	bottom: -200px;
}

p {
	
	font-family: bleh;
	font-size: 12px;
	color: white;
	
}	

.container {
	height: 100%;
}

body > .container {
	height: auto;
	min-height: 100%;
}